<style>
  #__endev_helper__ {  
    position: fixed;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    background: #E0E0E0;  
    border-top: 1px solid #929292;  
    padding: 5px;  
    font-family: sans-serif;  
    font-size: 12px;  
  }  

  .__endev_annotation_on__ .__endev_annotated__ { 
    outline: 1px solid rgba(255,0,0,0.5); 
    /*border: 1px solid rgba(255,0,0,0.5); */
    padding-top: 15px; 
    margin-top:5px;
    display:block; 
  } 

  .__endev_annotation_on__ tbody.__endev_annotated__ {
    display: table-row-group;
  }
  .__endev_annotation__ { 
    display: none; 
  }
  .__endev_annotation_on__ .__endev_annotated__ > .__endev_annotation__ { 
    display: block; 
    position: absolute; 
    margin-top: -22px; 
    font-size: 10px; 
    font-family: monospace; 
    background: #FFFFD1; 
    color: #666; 
    padding: 1px 3px; 
    border: 1px dashed rgba(255,0,0,0.5); 
    margin-left: 5px; 
    cursor: pointer; 
  } 
  .__endev_annotated__ > .__endev_annotation__:hover { 
    background: rgba(255,255,125,0.9); 
  } 
  .__endev_annotated__ > .__endev_list_item_annotated__ { 
    outline: 1px dashed rgba(255,0,0,0.5); 
  } 
  table.__endev_annotated__, thead.__endev_annotated__, tbody.__endev_annotated__, tfoot.__endev_annotated__  { 
    /*border: 1px solid red;*/
    padding-top: 10px; 
    margin-top: 10px; 
  } 
  table .__endev_annotated__ > .__endev_annotation__ { 
    margin-top: -1px; 
  }
  ._endev_json_ {
    overflow: auto;
    display: block;
    padding: 2px;
    margin: 0 0 10px;
    font-size: 10px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: transparent;
    border: none;
    border-radius: 0;
  }
  ._endev_json_number_ {
    color: forestgreen;
  }
  ._endev_json_key_ {
    color: darkorange;
  }
  ._endev_json_string_ {
    color: darkseagreen;
  }
  ._endev_json_boolean_ {
    color: green;
  }
  ._endev_json_null_ {
    color: dimgray;
  }
  #__endev_selector__ {
    border: 1px solid rgba(255,66,30,0.5);
    /*height:1px;*/
    position: fixed;
    transition:all 150ms ease;
    z-index: 10000;
  }
  
  #__endev_selector_top__, #__endev_selector_bottom__ {
    background: rgba(255,66,30,0.5);
    height:1px;
    position: fixed;
    transition:all 150ms ease;
  }
  #__endev_selector_left__, #__endev_selector_right__ {
    background: rgba(255,66,30,0.5);
    width: 1px;
    position: fixed;
    transition:all 150ms ease;
  }
  #__endev_selector_details__ {
    color: rgb(255,66,30);
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    padding: 2px; 
    position: fixed;
    font-size: 10px;
    background: rgba(245,245,220,0.9);
    overflow: hidden;
    z-index: 10000;
  }
  #__endev_popup__{
    position: fixed;
    z-index: 10001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }

  #__endev_popup_content__ {
    background-color: #fefefe;
    margin: 10px auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
</style>
<div id="__endev_helper__" class="__endev__" ng-if="$endevShowHelper">
  Endev Tools:
  <!--<button ng-click="$endevAnnotation = !$endevAnnotation">Annotations {{$endevAnnotation ? 'off' : 'on'}}</button>-->
  <button ng-click="$root.$endevSelector = !$root.$endevSelector">Inspect {{$root.$endevSelector ? 'off' : 'on'}}</button>
  <span style="color:red">{{$endevErrors[$endevErrors.length-1].description}}</span>
</div>
<div id="__endev_popup__" ng-controller="EndevPopup" class="__endev__" ng-show="show" ng-click="close()">
  <div id="__endev_popup_content__" ng-click="prevent($event)">
    <div ng-if="isInput">
      <input ng-model="elementOpts.value"/>
    </div>
    <div ng-repeat="expression in expressions track by $index">
      <textarea ng-model="expression.expr" ng-if="isValid(expression)"></textarea>
      <div ng-if="expression.expr == '__element__'">...</div>
    </div>
    <div ng-repeat="item in objects">
      {{item.name}}:{{item.value}}
    </div>
    <button ng-click="apply()">Apply</button>
  </div>
</div>
<div id="__endev_selector__" class="__endev__" ng-show="$endevSelector">
  <div id="__endev_selector_top__"></div>
  <div id="__endev_selector_right__"></div>
  <div id="__endev_selector_bottom__"></div>
  <div id="__endev_selector_left__"></div>
  <div id="__endev_selector_details__" ng-show="$root.$endevCurrentAnnotation">
    <div style="position:relative;">
      <div style="max-height: 400px; overflow: auto">
        {{$root.$endevCurrentAnnotation}}
        <div explain="$root.$endevCurrentObject"></div>
      </div>
    </div>
  </div>
</div>