<!DOCTYPE html>
<html>
<head>
	<title>EndevJS Weather Compare API Demo</title>
	<script src="lib/angular/angular.js"></script>
	<script src="lib/endev.js"></script>
</head>
<body>
<h1>Endev.js Demo</h1>
Search:
<input ng-model="query" placeholder="Search">

<h2>M-Brain results:</h2>
<data use="https://raw.githubusercontent.com/filipkis/endev/master/examples/mbrain.xml" from="" where="mb.api_key = 'hackathon_team_15_e90eh7hht447tfkdgu4ce1attj_1400583544' AND mb.query=query AND mb.category= 'twitter,facebook' ">
	<div ng-repeat="doc in mb.docs">
	{{doc.rankScore}}
	</div>
</data>
</body>
</html>
<!-- AND mb.lang='en,fi' AND mb.showSentiment=true AND mb.sentimentTarget=query AND mb.showSnippet=true  -->